<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="throttle" type="Shuttle.Esb.Module.Throttle.ThrottleSection, Shuttle.Esb.Module.Throttle" />
  </configSections>

  <throttle
    cpuUsagePercentage="35"
    abortCycleCount="7"
    performanceCounterReadInterval="2500"
    durationToSleepOnAbort="2s*2,3s"/>
</configuration>