<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
      <section name="Throttle" type="Shuttle.Esb.Module.Throttle.ThrottleSection, Shuttle.Esb.Module.Throttle"/>
    </sectionGroup>
	</configSections>

	<shuttle>
    <Throttle from="8:00" to="23:00" />
  </shuttle>
</configuration>